/* Global */
.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}


/* Styling for headermeny og headerbilde*/

header a{
  color: #7c7878;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: code-bold;
}

header ul{
  margin:0;
  padding:0;
  width: 100%;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

}
#newsletter{
  padding:15px;
  color: #7c7878;
  background: #f6f6f6;
  font-family: code-bold;
  font-size: 12px;
}

#newsletter h2{
  float:left;
}

#newsletter form{
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

.button_1{
  hegiht:50px;
  background: #e0c8c8;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

/* Header **/
header{
  background:#f6f6f6;
  color: #black;
  padding-top:30px;
  min-height:70px;
  border-bottom:#f9efef 5px solid;
  font-family: didot-bold;
}

header a{
  color: #7c7878;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: code-bold;
}

header ul{
  margin:0;
  padding:0;
  width: 100%;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
}


#headerbilde img{
  width: 100%;
}

#newsletter{
  padding:15px;
  color: #7c7878;
  background: #f6f6f6;
  font-family: code-bold;
  font-size: 12px;
}

#newsletter h1{
  float:left;
}

#newsletter form{
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}


/* Styling for boksene */

.container-1 div, .container-2 div, .container-3 div {
    border:0px #ccc solid;
    padding:15px;
  }

  .container-1{
      display:flex;
      text-align: center;
      flex-wrap:wrap;
       align-items: center;
       justify-content: center;
    }


  .box-1 img{
    width:285px;
  }

  .box-2 img{
      width:285px;
  }

  .box-3 img{
        width:285px;
      }

  .box-4 img{
    width:285px;
  }


  .container-2{
      display:flex;
      text-align: center;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
    }


  .box1 img{
    width:285px;
  }

  .box2 img{
      width:285px;
  }

  .box3 img{
        width:285px;
      }

  .box4 img{
    width:285px;
  }

/* Styling for tekst mellom boksene  */
  .container-7 {
  display:flex-center;
  color: #7c7878;
  background-color: #f6f6f6;
  font-family: code-bold;
  text-align: center;
  padding-top:15px;
  padding-bottom:15px;
}

  .container-3 {
    padding:20px;
    margin-top:20px;
    color: #7c7878;
    background-color:#f3e7e7;
    text-align: center;
  }

    /* Media Queries */
    @media(max-width: 768px){
      .container-1
      .container-2
      header #branding,
      header nav,
      header nav li,
      #newsletter h1,
      #newsletter form,
      #boxes .box,
      article#main-col,
      aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
      }

      header{
        padding-bottom:20px;
      }



      #showcase h1{
        margin-top:40px;
      }

      #newsletter button, .quote button{
        display:block;
        width:100%;
      }

      #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
      }
    }
